<!DOCTYPE html>
<html>

<head>
    <title>Red Sun Jail</title>
    <meta charset="UTF-8">

    <!-- Local stylesheet -->
    <link rel="stylesheet" href="css\global.css">
    <link rel="stylesheet" href="css\main.css">
</head>

<body>
<h1>Coming soon!</h1>
<h3>Данная страница находится в разработке. Спасибо, что проявляете интерес к проекту. Оставайтесь с нами.</h3>
</body>

</html>