<!DOCTYPE html>
<html>

<head>
    <title>Red Sun Jail</title>
    <meta charset="UTF-8">

    <!-- Local stylesheet -->
    <link rel="stylesheet" href="css\global.css">
    <link rel="stylesheet" href="css\main.css">
</head>

<body>
<h1>Увы!</h1>
<h3>Новых вакансий пока что нет:(</h3>
<br>
<a href="/main">Вернутся на главную</a></li>
</body>

</html>